In [1]:
import dask
import dask.dataframe as dd

In [2]:
from dask.distributed import LocalCluster
cluster = LocalCluster()
client = cluster.get_client()

c:\Users\Ikhlasse\anaconda3\envs\DL\Lib\site-packages\distributed\node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 61662 instead
  warnings.warn(

In [1]:
import pandas as pd
# t = pd.read_csv("data/test_set_VU_DM.csv")
# t = pd.read_csv("data/training_set_VU_DM.csv")
s = pd.read_csv("output/submission.csv")
s.shape

(4959183, 2)

In [9]:

import random

unique_id = sorted(t.srch_id.unique())

sample_size = int(len(t) * 0.1)
sample_size = min(sample_size, len(unique_id))

rndm_srch_ids = random.sample(unique_id, 10000)
t1 = t[t.srch_id.isin(rndm_srch_ids)]

In [11]:
t1["date_time"] = pd.to_datetime(t1["date_time"])
t1["year"] = t1["date_time"].dt.year
t1["month"] = t1["date_time"].dt.month
t1.sort_values("date_time")

C:\Users\Ikhlasse\AppData\Local\Temp\ipykernel_14256\3061522304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t1["date_time"] = pd.to_datetime(t1["date_time"])
C:\Users\Ikhlasse\AppData\Local\Temp\ipykernel_14256\3061522304.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t1["year"] = t1["date_time"].dt.year
C:\Users\Ikhlasse\AppData\Local\Temp\ipykernel_14256\3061522304.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t1["month"] = t1["date_time"].dt.month

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool,year,month
136478,9157,2012-11-01 05:54:48,5,219,NaN,NaN,219,119755,3,4.5,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2012,11
136483,9157,2012-11-01 05:54:48,5,219,NaN,NaN,219,138927,2,3.5,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2012,11
136482,9157,2012-11-01 05:54:48,5,219,NaN,NaN,219,135422,2,4.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2012,11
136481,9157,2012-11-01 05:54:48,5,219,NaN,NaN,219,129765,2,4.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2012,11
136480,9157,2012-11-01 05:54:48,5,219,NaN,NaN,219,129657,3,4.5,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2012,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413287,27674,2013-06-30 23:20:46,4,50,NaN,NaN,219,70887,2,2.5,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2013,6
413288,27674,2013-06-30 23:20:46,4,50,NaN,NaN,219,75795,4,4.5,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2013,6
413289,27674,2013-06-30 23:20:46,4,50,NaN,NaN,219,78642,2,3.5,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2013,6
413291,27674,2013-06-30 23:20:46,4,50,NaN,NaN,219,87490,3,4.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2013,6
413293,27674,2013-06-30 23:20:46,4,50,NaN,NaN,219,93594,3,4.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,0,2013,6

In [34]:
train_small = t1[((t1.year == 2012) | ((t1.year == 2013) & (t1.month < 5)))] # 5 maanden
test_small = t1[((t1.year == 2013) & (t1.month >= 5))] # 2 maanden

In [35]:
test_small.drop(["position", "click_bool", "booking_bool", "gross_bookings_usd"], axis=1, inplace=True)

C:\Users\Ikhlasse\AppData\Local\Temp\ipykernel_14256\4259298620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_small.drop(["position", "click_bool", "booking_bool", "gross_bookings_usd"], axis=1, inplace=True)

In [36]:
# train_small.to_csv("data/train_small.csv", index=False)
# test_small.to_csv("data/test_small.csv", index=False)

In [41]:
import numpy as np
conditions = [train_small["booking_bool"] == 1, train_small["click_bool"] == 1]
scores = [5, 2]
train_small["target_score"] = np.select(conditions, scores, 0)

C:\Users\Ikhlasse\AppData\Local\Temp\ipykernel_14256\42580254.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_small["target_score"] = np.select(conditions, scores, 0)

In [52]:
test_small[['srch_id', "prop_id"]]

         srch_id  prop_id
518           46     1594
519           46     2169
520           46     3837
521           46     5351
522           46     6272
...          ...      ...
4958336   332784   114177
4958337   332784   115562
4958338   332784   121275
4958339   332784   128677
4958340   332784   140304

[72562 rows x 2 columns]

In [ ]:
# create a datafram from antoher dataframe only containing 'srch_id', 'prop_id' and 'target_score' columns
relevance = data[['srch_id', 'prop_id', 'target_score']]

#search id to it's prop mapping
srch_to_prop = relevance.groupby("srch_id").agg({"prop_id":lambda x:list(set(x))})
srch_to_prop_map = dict(zip(srch_to_prop.index,srch_to_prop['prop_id']))

#create candidate pool, this will be a all the animes in the database
candidate_pool = data['prop_id'].unique().tolist()
  

def candidate_generation(query, candidate_pool, srch_to_prop_map, N):
    """
    Note: this a totally random generation, only for demo purpose
    Generates a list of N anime candidates for a given user based on their previously liked animes.
    
    Parameters:
        user_id (int): The user's ID.
        candidate_pool (list): A list of all possible anime candidates.
        user_2_anime_map (dict): A dictionary that maps users to their liked animes.
        N (int): The number of anime candidates to generate.
    
    Returns:
        already_interacted (list): List of animes which user already liked
        candidates (list): A list of N anime candidates for the user.
    """
    
    #get the already liked animes
    already_interacted = user_2_anime_map[user_id]

    #candidates will be rest of animes which are not exposed to user
    candidates = list(set(candidate_pool) - set(already_interacted))
    
    return already_interacted,np.random.choice(candidates,size=N)

def generate_predictions(user_id,user_2_anime_map,candidate_pool,feature_columns,anime_id_2_name_map,ranker,N=100):
    """
    Generates predictions for anime recommendations for a given user.
    
    Parameters:
        user_id (int): The user's ID.
        user_2_anime_map (dict): A dictionary that maps users to their liked animes.
        candidate_pool (list): A list of all possible anime candidates.
        feature_columns (list): A list of feature columns to use for generating predictions.
        anime_id_2_name_map (dict): A dictionary that maps anime IDs to their names.
        ranker (object): A trained model object that is used to generate predictions.
        N (int): The number of anime predictions to generate.
        
    Returns:
        predictions (DataFrame): A dataframe containing the top N anime recommendations for the user.
    """
    already_liked,candidates = candidate_generation(user_id,candidate_pool,user_2_anime_map,N=10000)
    
    #Create dataframe for candidates
    candidates_df = pd.DataFrame(data=pd.Series(candidates,name='anime_id'))
    
    # Merge with feature dataframe
    features = anime_info_df_final.merge(candidates_df)
    
    #Add user id as a feature
    features['user_id'] = user_id
    
    # Merge with user information
    features = features.merge(user_info)
    
    # If number of already liked animes is less than number of candidates
    # Extend the already liked list with -1
    already_liked = list(already_liked)
    if len(already_liked) < len(candidates):
        append_list = np.full(fill_value=-1,shape=(len(candidates)-len(already_liked)))
        already_liked.extend(list(append_list))
    
    #Create dataframe for predictions
    predictions = pd.DataFrame(index=candidates)
    #Add anime names
    predictions['name'] = np.array([anime_id_2_name_map.get(id_) for id_ in candidates])
    #Generate predictions
    predictions['score'] = ranker.predict(features[feature_columns])
    predictions = predictions.sort_values(by='score',ascending=False).head(N)
    
    predictions[f'already_liked - sample[{N}]'] = [anime_id_2_name_map.get(id_) for id_ in already_liked[0:len(predictions)]]
    return predictions

#let's generate the predictions 
generate_predictions(123,user_2_anime_map,candidate_pool,feature_columns=features,anime_id_2_name_map=anime_id_2_name_map,ranker=model,N=10)

In [ ]:
def predict(test_data, output_dir):

    model = pkl.load(open(os.path.join(output_dir, "model.dat"), "rb"))

    test_data = test_data.copy()

    submission = test_data[["srch_id", "prop_id"]]

    # test_data = remove_columns(test_data)

    # categorical_features_numbers = get_categorical_column(test_data)

    print("Predicting on train set with columns: {}".format(test_data.columns.values))
    kwargs = {}
    kwargs = {"categorical_feature": categorical_features_numbers}

    predictions = model.predict(test_data, **kwargs)
    submission["prediction"] = predictions
    del test_data

    submission = submission.sort_values(["srch_id", "prediction"], ascending=False)

    submission[["srch_id", "prop_id"]].to_csv(os.path.join(output_dir, "submission.csv"), index=False)

In [3]:
import pandas as pd
t1 = pd.read_csv("data/train_small.csv")

In [6]:
na_counts = (t1.isna().sum() * 100/len(t1))
data_processed = t1.drop(na_counts[na_counts > 50].index.tolist(), axis=1)
data_processed

,srch_id,date_time,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,...,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,orig_destination_distance,random_bool,click_bool,booking_bool,year,month
0,29,2013-02-26 19:42:22,18,129,219,1722,3,4.0,0,5.72,...,5,0,1,0,3748.90,0,1,1,2013,2
1,29,2013-02-26 19:42:22,18,129,219,3858,4,4.5,0,5.70,...,5,0,1,0,3747.89,0,0,0,2013,2
2,29,2013-02-26 19:42:22,18,129,219,7523,4,0.0,1,5.82,...,5,0,1,0,3748.71,0,0,0,2013,2
3,29,2013-02-26 19:42:22,18,129,219,7880,4,4.5,1,5.88,...,5,0,1,0,3748.29,0,0,0,2013,2
4,29,2013-02-26 19:42:22,18,129,219,31336,4,4.0,1,5.52,...,5,0,1,0,3748.98,0,0,0,2013,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175822,332718,2013-02-09 15:47:29,32,220,219,115029,0,5.0,0,2.64,...,2,0,1,0,7522.82,1,0,0,2013,2
175823,332718,2013-02-09 15:47:29,32,220,219,117667,4,4.5,0,3.09,...,2,0,1,0,7521.66,1,0,0,2013,2
175824,332718,2013-02-09 15:47:29,32,220,219,117976,3,4.5,1,2.89,...,2,0,1,0,7522.49,1,0,0,2013,2
175825,332718,2013-02-09 15:47:29,32,220,219,119952,4,4.5,0,2.77,...,2,0,1,0,7521.49,1,0,0,2013,2
175826,332718,2013-02-09 15:47:29,32,220,219,127482,4,4.5,0,3.26,...,2,0,1,0,7521.88,1,0,0,2013,2

In [7]:
null_percent = t1.isnull().mean()
col_drop = null_percent[null_percent> 0.5].index.tolist()
data_processed = t1.drop(columns=col_drop)
data_processed

,srch_id,date_time,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,...,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,orig_destination_distance,random_bool,click_bool,booking_bool,year,month
0,29,2013-02-26 19:42:22,18,129,219,1722,3,4.0,0,5.72,...,5,0,1,0,3748.90,0,1,1,2013,2
1,29,2013-02-26 19:42:22,18,129,219,3858,4,4.5,0,5.70,...,5,0,1,0,3747.89,0,0,0,2013,2
2,29,2013-02-26 19:42:22,18,129,219,7523,4,0.0,1,5.82,...,5,0,1,0,3748.71,0,0,0,2013,2
3,29,2013-02-26 19:42:22,18,129,219,7880,4,4.5,1,5.88,...,5,0,1,0,3748.29,0,0,0,2013,2
4,29,2013-02-26 19:42:22,18,129,219,31336,4,4.0,1,5.52,...,5,0,1,0,3748.98,0,0,0,2013,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175822,332718,2013-02-09 15:47:29,32,220,219,115029,0,5.0,0,2.64,...,2,0,1,0,7522.82,1,0,0,2013,2
175823,332718,2013-02-09 15:47:29,32,220,219,117667,4,4.5,0,3.09,...,2,0,1,0,7521.66,1,0,0,2013,2
175824,332718,2013-02-09 15:47:29,32,220,219,117976,3,4.5,1,2.89,...,2,0,1,0,7522.49,1,0,0,2013,2
175825,332718,2013-02-09 15:47:29,32,220,219,119952,4,4.5,0,2.77,...,2,0,1,0,7521.49,1,0,0,2013,2
175826,332718,2013-02-09 15:47:29,32,220,219,127482,4,4.5,0,3.26,...,2,0,1,0,7521.88,1,0,0,2013,2

In [ ]:

data_processed = t1.drop(na_counts[na_counts > 50].index.tolist(), axis=1)
data_processed.columns

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'prop_country_id', 'prop_id', 'prop_starrating', 'prop_review_score',
       'prop_brand_bool', 'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'orig_destination_distance', 'random_bool'],
      dtype='object')

In [17]:
def aggregated_features_single_column(
    in_data,
    key_for_grouped_by="prop_id",
    target_column="price_usd",
    agg_methods=["mean", "median", "min", "max"],
    transform_methods={"mean": ["substract"]},
):
    df = in_data.groupby(key_for_grouped_by).agg({target_column: agg_methods})

    if isinstance(key_for_grouped_by, list):
        str_key_for_grouped_by = "|".join(key_for_grouped_by)
    else:
        str_key_for_grouped_by = key_for_grouped_by

    df.columns = df.columns.droplevel()
    col = {}
    for method in agg_methods:
        col[method] = (
            method.upper() + "(" + str_key_for_grouped_by + ", " + target_column + ")"
        )

    df.rename(columns=col, inplace=True)

    in_data = in_data.merge(df.reset_index(), on=key_for_grouped_by)
    for method_name in transform_methods:
        for applying_function in transform_methods[method_name]:
            function_data = in_data[
                method_name.upper()
                + "("
                + str_key_for_grouped_by
                + ", "
                + target_column
                + ")"
            ]
            column_data = in_data[target_column]
            if applying_function == "substract":
                result = column_data - function_data
            elif applying_function == "divide":
                result = column_data / function_data
            else:
                continue
            in_data[
                applying_function.upper()
                + "("
                + target_column
                + ", "
                + method_name.upper()
                + ")"
            ] = result

    return in_data

In [18]:
aggregated_features_single_column(t1)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,"MEAN(prop_id, price_usd)","MEDIAN(prop_id, price_usd)","MIN(prop_id, price_usd)","MAX(prop_id, price_usd)","SUBSTRACT(price_usd, MEAN)"
0,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,NaN,NaN,NaN,125.520757,125.00,99.00,165.00,-6.520757
1,546,2013-06-21 00:10:58,5,219,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,NaN,NaN,NaN,125.520757,125.00,99.00,165.00,3.479243
2,3382,2012-11-29 13:10:00,18,129,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,NaN,NaN,NaN,125.520757,125.00,99.00,165.00,15.949243
3,5549,2013-02-24 20:21:45,31,219,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,NaN,NaN,NaN,125.520757,125.00,99.00,165.00,-18.520757
4,5883,2012-12-07 06:01:55,5,219,NaN,NaN,219,3180,3,4.5,...,NaN,NaN,1.0,0.0,8.0,125.520757,125.00,99.00,165.00,-6.520757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959178,332671,2013-02-15 16:50:03,15,55,NaN,NaN,55,18902,0,0.0,...,NaN,NaN,NaN,NaN,NaN,99.320000,99.32,99.32,99.32,0.000000
4959179,332744,2013-04-03 19:18:12,16,31,NaN,NaN,31,84910,0,0.0,...,NaN,NaN,NaN,NaN,NaN,77.100000,77.10,77.10,77.10,0.000000
4959180,332774,2013-06-26 09:29:47,18,129,NaN,NaN,215,41332,3,0.0,...,NaN,NaN,NaN,NaN,NaN,55.950000,55.95,55.95,55.95,0.000000
4959181,332774,2013-06-26 09:29:47,18,129,NaN,NaN,215,102926,2,0.0,...,NaN,NaN,NaN,NaN,NaN,49.450000,49.45,49.45,49.45,0.000000
4959182,332774,2013-06-26 09:29:47,18,129,NaN,NaN,215,109037,3,0.0,...,NaN,NaN,NaN,NaN,NaN,106.700000,106.70,106.70,106.70,0.000000

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import ndcg_score
from sklearn.preprocessing import LabelEncoder
from sklearn.multioutput import MultiOutputClassifier

# from xgboost import XGBClassifier

import hvplot.dask

In [4]:
# train = pd.read_csv("data/midas_imp_1.csv")
# test = pd.read_csv("data/midas_imp_test_1.csv")

# dt1 = pd.to_datetime(dd.read_csv("data/training_set_VU_DM.csv").date_time, format= "%Y-%m-%d %H:%M:%S")
# dt2 = pd.to_datetime(dd.read_csv("data/test_set_VU_DM.csv").date_time, format= "%Y-%m-%d %H:%M:%S")

In [5]:
# train.insert(1, "date_time", dt1)
# test.insert(1, "date_time", dt2)

In [9]:
# train.to_csv("data/train_full.csv", index = False)
# test.to_csv("data/test_full.csv", index = False)

In [10]:
# use only 10% of the data, so train_small is 10% of train
# train_small = train.head(int(len(train)*0.1))
# test_small = test.head(int(len(test)*0.1))

# train_small.to_csv("data/train_small.csv", index = False)
# test_small.to_csv("data/test_small.csv", index = False)

In [11]:
# train = dd.read_csv("data/train_full.csv")
# test = dd.read_csv("data/test_full.csv")

# list of feautures that consist of more than 90% of NULL
dump = ["visitor_hist_starrating", "visitor_hist_adr_usd", "srch_query_affinity_score", 
        "comp1_rate", "comp1_inv", "comp1_rate_percent_diff", 
        "comp4_rate", "comp4_inv", "comp4_rate_percent_diff",
         "comp6_rate", "comp6_inv", "comp6_rate_percent_diff",
         "comp7_rate", "comp7_inv", "comp7_rate_percent_diff",
         ]

# remove hist star rating and visitor_hist_adr_usd cause 95% was null and tus ant be really used 
train_small = pd.read_csv("data/train_small.csv").drop(["visitor_hist_starrating", "visitor_hist_adr_usd", "srch_query_affinity_score", comp1_rate], axis=1)
train_small["date_time"] = pd.to_datetime(train_small["date_time"])

train_small["year"] = train_small["date_time"].dt.year
train_small["month"] = train_small["date_time"].dt.month
# test_small = pd.read_csv("data/test_small.csv")

In [12]:
# train_small_ = train_small.set_index("srch_id")
# test_small_ = test_small.set_index("srch_id")
train_small.sort_values("date_time")

,srch_id,date_time,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,...,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool,year,month
390360,26168,2012-11-01 00:35:47,32,220,219,113405,2,3.5,0,2.08,...,118.528297,44.042252,-1.000000,0.000000,26.000000,0,281.632385,0,2012,11
390346,26168,2012-11-01 00:35:47,32,220,219,65606,4,4.0,1,2.89,...,29.486151,-1.737388,0.000000,0.000000,-3.166452,0,314.792725,0,2012,11
390347,26168,2012-11-01 00:35:47,32,220,219,68914,2,3.0,1,2.20,...,18.356794,97.117226,0.000000,0.000000,-0.928227,0,532.156860,0,2012,11
390348,26168,2012-11-01 00:35:47,32,220,219,74474,3,4.5,1,2.40,...,-57.045246,-72.180244,26.443462,14.338161,27.148546,0,169.626953,0,2012,11
390349,26168,2012-11-01 00:35:47,32,220,219,81437,3,4.0,1,2.30,...,-7.126264,-12.799749,0.000000,0.000000,-29.721807,0,307.371124,0,2012,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413299,27674,2013-06-30 23:20:46,4,50,219,124778,4,4.0,1,4.29,...,-8.716877,26.564783,-2.329306,-5.041114,1.337687,0,190.946091,0,2013,6
413300,27674,2013-06-30 23:20:46,4,50,219,128155,4,4.5,1,2.20,...,-61.522110,99.727844,11.663659,-7.837674,-56.536709,0,593.529663,0,2013,6
413301,27674,2013-06-30 23:20:46,4,50,219,134288,4,4.5,1,3.87,...,13.934949,192.455200,11.891241,-0.453902,-30.295862,0,187.466888,0,2013,6
413291,27674,2013-06-30 23:20:46,4,50,219,87490,3,4.0,1,1.95,...,-37.766422,-75.318680,7.720039,-7.935442,-43.852844,0,501.542908,0,2013,6
413292,27674,2013-06-30 23:20:46,4,50,219,90920,3,3.5,1,4.34,...,19.365194,54.339672,-15.156031,14.018057,1.333626,0,515.699341,0,2013,6

In [9]:
train = train_small[((train_small.year == 2012) | ((train_small.year == 2013) & (train_small.month < 5)))]
test = train_small[((train_small.year == 2013) & (train_small.month >= 5))]

In [ ]:
# predict where booking_bool is 1